# Information about Kafka brokers. ip:port are the connection addresses and ports used by the instance.
# The values can be obtained by referring to the "Collecting Connection Information" section.
# Example: bootstrap.servers=100.xxx.xxx.87:909x,100.xxx.xxx.69:909x,100.xxx.xxx.155:909x
bootstrap.servers=ip1:port1,ip2:port2,ip3:port3

# Producer acknowledgement
acks=all

# Method of turning the key into bytes
key.serializer=org.apache.kafka.common.serialization.StringSerializer

# Method of turning the value into bytes
value.serializer=org.apache.kafka.common.serialization.StringSerializer

# Memory available to the producer for buffering
buffer.memory=33554432

# Number of retries
retries=0

#######################
# Comment out the following parameters if SASL access is not enabled.
#######################

# Set the SASL authentication mechanism, username, and password.
# sasl.mechanism indicates the SASL authentication mechanism. username and password indicate the username and password
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
    username="username" \
    password="password";

# If the SASL mechanism is PLAIN, the configuration is as follows:
# sasl.mechanism=PLAIN

# If the SASL mechanism is SCRAM-SHA-512, the configuration is as follows:
sasl.mechanism=SCRAM-SHA-512

# Set security.protocol.
# ----------------------------
# If the security protocol is SASL_SSL, the configuration is as follows:
security.protocol=SASL_SSL

# ssl truststore.location is the path for storing the SSL certificate.
# The following code uses the path format in Windows as an example.
# Change the path format based on the actual running environment.
ssl.truststore.location=D:\\project\\Kafka-sdk-java\\src\\main\\resources\\client.jks

# ssl truststore.password is the password of the server certificate.
# This password is used for accessing the JKS file generated by Java.
ssl.truststore.password=dms@kafka

# ssl.endpoint.identification.algorithm indicates whether to verify the certificate domain name.
# This parameter must be left blank, which indicates disabling domain name verification.
ssl.endpoint.identification.algorithm=

# ----------------------------
# If the security protocol is SASL_PLAINTEXT, the configuration is as follows:
# security.protocol=SASL_PLAINTEXT
